ConfigurationParser/obj/
ConfigurationParser/bin/
ConfigurationParserTests/bin/
ConfigurationParserTests/obj/
packages/
.vs/
ConfigurationParser.Example/bin/
ConfigurationParser.Example/obj/
ConfigurationParser.sln.DotSettings.user
DotNetCraft.ConfigurationParser/obj/
DotNetCraft.ConfigurationParserTests/bin/
DotNetCraft.ConfigurationParser/bin/
DotNetCraft.ConfigurationParserTests/obj/
DotNetCraft.ConfigurationParser.Example/obj/
DotNetCraft.ConfigurationParser.Example/bin/
*.nupkg
*.exe
