<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ExternalSystemSettings" type="DotNetCraft.ConfigurationParser.SimpleConfigurationSectionHandler, DotNetCraft.ConfigurationParser" />
    <section name="DatabasesSettings" type="DotNetCraft.ConfigurationParser.SimpleConfigurationSectionHandler, DotNetCraft.ConfigurationParser" />
    <section name="SmtpSettings" type="DotNetCraft.ConfigurationParser.SimpleConfigurationSectionHandler, DotNetCraft.ConfigurationParser" />
  </configSections>
    
  <ExternalSystemSettings>
    <AuthenticationSettings>
      <Login>DotNetCraft</Login>
      <Password>qwerty</Password>
      <Urls>
        <Url>https://github.com/DotNetCraft/ConfigurationParser</Url>
        <Url>https://github.com/DotNetCraft/ConfigurationParser</Url>
      </Urls>      
    </AuthenticationSettings>
    <StaffSettings Token="{D0C148F7-83C0-41B0-8F18-B47CAB09AD99}" Url="https://github.com/DotNetCraft/ConfigurationParser"/>
  </ExternalSystemSettings>

  <DatabasesSettings>
    <MongoSettings ConnectionString="mongo.url" DatabaseName="DotNetCraft"/>
    <SqlSettings>
      <item key="TenantA">
        <value>
          <SqlSettings ConnectionString="sql.TanantA.com"/>
        </value>
      </item>
      <item>
        <key>TenantB</key>
        <value>
          <SqlSettings>
            <ConnectionString>sql.TanantB.com</ConnectionString>
          </SqlSettings>
        </value>
      </item>     
    </SqlSettings>
  </DatabasesSettings>

  <SmtpSettings Host="gmail.com" Sender="no-reply">
    <Recipients>clien1@gmail.com;clien2@gmail.com;clien3@gmail.com</Recipients>
  </SmtpSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>